{% extends 'base.html.twig' %}

{% block title %}Connexion |
	{{ parent() }}
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% else %}
			<div class="container">
				<div class="row">
					<div class="card col-10 col-md-6 col-lg-4 position-absolute top-50 start-50 translate-middle  card-form ">
						<div class="card-header card-header-bg">
							<h1 class="text-center">Connexion</h1>
						</div>
						<div class="card-body d-flex flex-column align-items-center">
							<div class="col-10">
								<label for="inputEmail">Adresse email</label>
								<input type="email" placeholder="Adresse email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
							</div>
							<div class="col-10">
								<label for="inputPassword">Mot de Passe</label>
								<input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button class="btn bg-btn mt-4" type="submit">Connexion</button>
							
							<a class="reset-mdp" href=" {{ path('app_forgot_password_request') }} ">Mot de passe publié ?</a>
							
						</div>


					</div>
				</div>
			</div>
	</form>
	{% endif %}
{% endblock %}
